{% extends "user/base.html" %}
{% block section1 %}
{% load static %}
<style>
    .form-group{
        margin: 12px;
    }
</style>

<form method="post">
    {% csrf_token %}
    <div class="form-group text-dark">
        <label for="radiogroup"><h1><u>Templates</u></h1></label><br>
        <div class="btn-group" data-toggle="buttons" id="radiogroup">
            <div class="d-flex flex-column bd-highlight mb-3 text-dark">
                <div class="p-2 bd-highlight m-3 m-3">
                    <input type="email" name="email1" placeholder="write your recipient"><br>
                    <p>WEB DEPARTMENT</p>
                    <p>this is an email 1 message</p>
                </div><label class="btn">
                    <input type="radio" name="template1" id="template1" autocomplete="off" value="template1"> template
                    01
                </label>
                <div class="p-2 bd-highlight m-3">
                    <input type="email" name="email2" placeholder="write your recipient"><br>
                    <p>GRAPHIC DEPARTMENT</p>
                    <p>this is an email 2 message</p>
                </div><label class="btn">
                    <input type="radio" name="template2" id="template2" autocomplete="off" value="template2"> template2
                </label>
                <div class="p-2 bd-highlight m-3">
                    <input type="email" name="email3" placeholder="write your recipient"><br>
                    <p>MEDIA AND MARKETING DEPARTMENT</p>
                    <p>this is an email 3 message</p>
                </div> <label class="btn">
                    <input type="radio" name="template3" id="template3" autocomplete="off" value="template3"> template3
                </label>
                <div class="p-2 bd-highlight m-3">
                    <input type="email" name="email4" placeholder="write your recipient"><br>
                    <p>MEDIA AND CONTENT DEPARTMENT</p>
                    <p>this is an email 4 message</p>
                </div> <label class="btn">
                    <input type="radio" name="template4" id="template4" autocomplete="off" value="template4"> template4
                </label>
                <div class="p-2 bd-highlight m-3">
                    <input type="email" name="email5" placeholder="write your recipient"><br>
                    <p>VIDEO PRODUCTION DEPARTMENT</p>
                    <p>this is an email 5 message</p>
                </div> <label class="btn">
                    <input type="radio" name="template5" id="template5" autocomplete="off" value="template5"> template5
                </label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn m-3">send email</button>
</form>

{% endblock section1 %}

{% block section2 %}
{% endblock section2 %}